<a href="https://colab.research.google.com/github/kartikay89/Data-Analysis/blob/main/Covid_19(INDIA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**COVID-19 INDIA**

> The COVID-19 datasets used in the notebook are taken from "Kaggle". The names of these datasets are mentioned below:

*  covid_19_india.csv
*   StatewiseTestingDetails.csv




URL: 


1.   https://www.kaggle.com/sudalairajkumar/covid19-in-india
2.   https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset?select=time_series_covid_19_recovered.csv
3. https://api.covid19india.org/documentation/csv/
4. https://api.covid19india.org/
5. https://documenter.getpostman.com/view/10724784/SzYXXKmA?version=latest
6. https://api.rootnet.in/

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
import json

In [7]:
IndianStates = pd.read_csv('/content/drive/MyDrive/Google Colab Data /state_wise.csv')
IndianStates.head()

            State  ...                                        State_Notes
0           Total  ...                                                NaN
1     Maharashtra  ...  [Dec 16]:10,218 duplicate cases & other state ...
2       Karnataka  ...                                                NaN
3  Andhra Pradesh  ...                                                NaN
4      Tamil Nadu  ...  [July 22]: 444 backdated deceased entries adde...

[5 rows x 12 columns]

In [206]:
IndianStatesDistricts = pd.read_csv('/content/drive/MyDrive/Google Colab Data /districts.csv')
IndianStatesDistricts.head()

         Date                        State  ... Other  Tested
0  2020-04-26  Andaman and Nicobar Islands  ...     0  2679.0
1  2020-04-26               Andhra Pradesh  ...     0     NaN
2  2020-04-26               Andhra Pradesh  ...     0     NaN
3  2020-04-26               Andhra Pradesh  ...     0     NaN
4  2020-04-26               Andhra Pradesh  ...     0     NaN

[5 rows x 8 columns]

In [256]:
# Population data country 
with open('/content/drive/MyDrive/Google Colab Data /IndianPopulation.json') as f:
  data = json.load(f)
  # print(data)

  fix = json.dumps(data, ensure_ascii=False, indent=4)

In [26]:
!curl --location --request GET 'https://api.covid19india.org/state_district_wise.json' > stateDistrict.json

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  202k  100  202k    0     0  1596k      0 --:--:-- --:--:-- --:--:-- 1596k

In [257]:
with open("/content/stateDistrict.json") as f:
  data = json.load(f)
# print(data)

In [173]:
districtDF = pd.read_json('/content/stateDistrict.json').T.reset_index()
print(districtDF.columns)

statedistrict = {}

districtActive = {}
districtConfirmed = {}
districtRecovered = {}
districtDeceased = {}


# for districts in districtDF
# districtsData = districtDF.districtData[0]


for index, rows in districtDF.districtData.items():
  districtsData = districtDF.districtData[index]
  # districtsData.to_dict()


  for key, value in districtsData.items():
    if key not in districtActive:
      districtActive[key]=value['active']
    if key not in districtConfirmed:
      districtConfirmed[key]=value['confirmed']
    if key not in districtRecovered:
      districtRecovered[key]=value['recovered']
    if key not in districtDeceased:
      districtDeceased[key]=value['deceased']

Index(['index', 'districtData', 'statecode'], dtype='object')

In [185]:
# Creating Dataframe from Active cases dictionary - districtActive

ActiveDF = pd.DataFrame.from_dict(districtActive, orient='index')
ActiveDFV1 = ActiveDF.reset_index()
ActiveDFV2 = ActiveDFV1.rename(columns={'index':'Districts',0:'Active'})

In [189]:
# Creating Dataframe from Confirmed cases dictionary - districtActive

ConfDF = pd.DataFrame.from_dict(districtConfirmed, orient='index')
ConfDFV1 = ConfDF.reset_index()
ConfDFV2 = ConfDFV1.rename(columns={'index':'Districts',0:'Confirmed'})

In [191]:
# Creating Dataframe from Recovered cases dictionary - districtActive

RecDF = pd.DataFrame.from_dict(districtRecovered, orient='index')
RecDFV1 = RecDF.reset_index()
RecDFV2 = RecDFV1.rename(columns={'index':'Districts',0:'Recovered'})

In [194]:
# Creating Dataframe from Deceased cases dictionary - districtActive

DecDF = pd.DataFrame.from_dict(districtDeceased, orient='index')
DecDFV1 = DecDF.reset_index()
DecDFV2 = DecDFV1.rename(columns={'index':'Districts',0:'Deceased'})

In [254]:
# Merging all the dataframes together
finalDFV1  = ActiveDFV2.merge(ConfDFV2, on = "Districts", how = "left")
finalDFV2 = finalDFV1.merge(RecDFV2, on = "Districts", how = "left")
finalDFV3 = finalDFV2.merge(DecDFV2, on = "Districts", how = "left")

In [242]:
# Just to know - Districts of India.

list_of_districts = list(set(finalDFV3['Districts']))

unique=[]

for districtsList in list_of_districts:
  unique.append(districtsList)

print(unique)
print(len(unique))

['Jangaon', 'Ramban', 'Bharatpur', 'Kandhamal', 'Sabarkantha', 'Ratnagiri', 'Kangpokpi', 'Hisar', 'South 24 Parganas', 'Rajkot', 'Purba Medinipur', 'Surajpur', 'Ernakulam', 'Kra Daadi', 'Hamirpur', 'Mahe', 'Imphal West', 'Gurugram', 'Jalore', 'Khandwa', 'Karaikal', 'Italians', 'Sangareddy', 'Mulugu', 'Madurai', 'Ranipet', 'Samastipur', 'Kendrapara', 'Giridih', 'Singrauli', 'Bametara', 'Tiruchirappalli', 'Jodhpur', 'Mainpuri', 'Baghpat', 'Mansa', 'Ayodhya', 'Panchkula', 'Begusarai', 'Kurung Kumey', 'Sirsa', 'Banswara', 'Mandsaur', 'Varanasi', 'Mayurbhanj', 'Kamareddy', 'Jhajjar', 'Nainital', 'West Champaran', 'Banaskantha', 'Khawzawl', 'Dakshina Kannada', 'Jhalawar', 'Krishna', 'Siang', 'Barmer', 'Haveri', 'North West Delhi', 'Ballia', 'Goalpara', 'Bijnor', 'Sri Muktsar Sahib', 'West Sikkim', 'Charaideo', 'Mirzapur', 'Longleng', 'East Champaran', 'Sivasagar', 'Sant Kabir Nagar', 'Kolhapur', 'Vijayapura', 'Jhabua', 'Devbhumi Dwarka', 'Bathinda', 'Gajapati', 'Sonipat', 'Tiruvannamalai', 'Anuppur', 'Jashpur', 'Haridwar', 'Bhadohi', 'Saiha', 'Chhatarpur', 'Katihar', 'Sahibganj', 'Pilibhit', 'Palamu', 'Gumla', 'Shahdara', 'Fatehabad', 'Kishanganj', 'Surguja', 'Dhar', 'Bankura', 'Gadag', 'Burhanpur', 'Kiphire', 'Lalitpur', 'Ribhoi', 'Alwar', 'Kutch', 'Malda', 'Leh', 'Sheikhpura', 'Tiruppur', 'Pathanamthitta', 'Kohima', 'Bhavnagar', 'Kanpur Nagar', 'Wanaparthy', 'Meerut', 'Biswanath', 'Balrampur', 'Nalbari', 'Kamrup', 'Dahod', 'Mathura', 'Salem', 'Bidar', 'Bhadrak', 'Siddipet', 'Hathras', 'Sirmaur', 'Bahraich', 'Bhagalpur', 'Others', 'Amritsar', 'Pathankot', 'West Garo Hills', 'Evacuees', 'Rajouri', 'Pulwama', 'Neemuch', 'Thrissur', 'Mokokchung', 'Pakke Kessang', 'Sonbhadra', 'Kangra', 'Shajapur', 'North Goa', 'Dhubri', 'Kabeerdham', 'Kalahandi', 'Adilabad', 'Ambala', 'Porbandar', 'Rupnagar', 'Changlang', 'Dhemaji', 'Rajnandgaon', 'Zunheboto', 'Yadadri Bhuvanagiri', 'Vellore', 'Bagalkote', 'Ambedkar Nagar', 'Kinnaur', 'Kushinagar', 'Noney', 'Chikkaballapura', 'Firozabad', 'Etah', 'Peddapalli', 'Narmada', 'Senapati', 'Jaisalmer', 'Rajanna Sircilla', 'Barpeta', 'South West Garo Hills', 'Rohtak', 'Pherzawl', 'Amravati', 'Suryapet', 'Alappuzha', 'Bhandara', 'Baloda Bazar', 'Parbhani', 'Airport Quarantine', 'Tarn Taran', 'North Tripura', 'Diu', 'Lunglei', 'Pudukkottai', 'Morena', 'Bhiwani', 'Lakhisarai', 'Rae Bareli', 'Nandurbar', 'Hapur', 'Churachandpur', 'Chitradurga', 'BSF Camp', 'Dindori', 'Ganderbal', 'Mysuru', 'Bhilwara', 'Udham Singh Nagar', 'Sambalpur', 'Central Delhi', 'Harda', 'Palwal', 'Kasaragod', 'Churu', 'Saitual', 'Nuapada', 'Phek', 'Tamenglong', 'Ujjain', 'Papum Pare', 'Srinagar', 'Rampur', 'Sehore', 'Khunti', 'Munger', 'State Pool', 'Jabalpur', 'North Sikkim', 'Umaria', 'Botad', 'Morigaon', 'Jajpur', 'Other State', 'Osmanabad', 'Barabanki', 'Nagaon', 'Boudh', 'South Goa', 'Jamtara', 'Shrawasti', 'Yadgir', 'Sukma', 'Narayanpur', 'Solan', 'North 24 Parganas', 'Saraikela-Kharsawan', 'Sagar', 'East Sikkim', 'Tenkasi', 'South West Khasi Hills', 'Mahasamund', 'Purba Bardhaman', 'Banka', 'Lohit', 'Budaun', 'North East Delhi', 'Una', 'Yamunanagar', 'Jhansi', 'Aravalli', 'Kodagu', 'Rajgarh', 'Kamrup Metropolitan', 'Buxar', 'Cuddalore', 'South Garo Hills', 'Raichur', 'Bhind', 'Jalna', 'Peren', 'Kheda', 'Patan', 'Shahjahanpur', 'Erode', 'Chandigarh', 'Ratlam', 'West Godavari', 'Namakkal', 'Dang', 'Chamarajanagara', 'Cuttack', 'Mahendragarh', 'Mirpur', 'Vikarabad', 'Lawngtlai', 'Hingoli', 'Dhule', 'Ballari', 'Mamit', 'Bandipora', 'Rayagada', 'Amethi', 'Washim', 'Darrang', 'Sikar', 'Khordha', 'Gorakhpur', 'Ramanagara', 'Yanam', 'Sangli', 'Bareilly', 'Surendranagar', 'Anand', 'Shivpuri', 'Barwani', 'Lucknow', 'Kozhikode', 'Angul', 'Gurdaspur', 'Farrukhabad', 'Faridkot', 'Anantapur', 'Srikakulam', 'Patna', 'Garhwa', 'Bijapur', 'Mumbai', 'Shamli', 'Visakhapatnam', 'Dima Hasao', 'Jalgaon', 'Maharajganj', 'Dindigul', 'Gautam Buddha Nagar', 'Chennai', 'Khammam', 'Kullu', 'Tirap', 'Thanjavur', 'Chittorgarh', 'Moradabad', 'Sheohar', 'Sirohi', 'Unokoti', 'New Delhi', 'Valsad', 'Nadia', 'Vaishali', 'Bilaspur', 'Coimbatore', 'Ashoknagar', 'Almora', 'Hoshangabad', 'Nashik', 'Dhenkanal', 'Kurukshetra', 'Deogarh', 'Jogulamba Gadwal', 'Bengaluru Urban', 'Pauri Garhwal', 'Lakhimpur', 'Krishnagiri', 'Majuli', 'Karauli', 'South Tripura', 'S.A.S. Nagar', 'Thane', 'Rewa', 'Tuensang', 'Datia', 'Jhunjhunu', 'Araria', 'Khagaria', 'Khargone', 'Nirmal', 'Madhepura', 'East Singhbhum', 'Mancherial', 'Wokha', 'Gaurela Pendra Marwahi', 'Chhota Udaipur', 'Agra', 'Unassigned', 'Deoghar', 'Kaithal', 'Raigad', 'Kamjong', 'Guna', 'Tapi', 'Karimnagar', 'Azamgarh', 'Saharanpur', 'Lahaul and Spiti', 'Bongaigaon', 'Jamui', 'Amreli', 'Latur', 'Sitamarhi', 'Lohardaga', 'Mehsana', 'Gariaband', 'Dungarpur', 'Champawat', 'Dausa', 'Charkhi Dadri', 'Kolkata', 'Upper Subansiri', 'Nawada', 'Y.S.R. Kadapa', 'Paschim Medinipur', 'Gadchiroli', 'Pratapgarh', 'Tawang', 'Mandya', 'Saran', 'Balasore', 'Tonk', 'Chengalpattu', 'Tirupathur', 'Sultanpur', 'Chandrapur', 'Shopiyan', 'Solapur', 'South Andaman', 'Purulia', 'West Tripura', 'Thiruvarur', 'Kamle', 'Hassan', 'CAPF Personnel', 'Hoshiarpur', 'Uttar Dinajpur', 'Idukki', 'Mahoba', 'Warangal Rural', 'South West Delhi', 'Nabarangapur', 'Gaya', 'Jehanabad', 'Kalimpong', 'Virudhunagar', 'Aizawl', 'Malappuram', 'Panna', 'Chittoor', 'Deoria', 'Viluppuram', 'North Delhi', 'Junagadh', 'Hooghly', 'Lower Siang', 'Murshidabad', 'Dharmapuri', 'Chikkamagaluru', 'Nizamabad', 'Godda', 'Foreign Evacuees', 'Jaunpur', 'Ghaziabad', 'Jalandhar', 'Chatra', 'Jamnagar', 'Railway Quarantine', 'Puri', 'Balaghat', 'Kanyakumari', 'Etawah', 'Durg', 'North Garo Hills', 'Supaul', 'Bishnupur', 'Basti', 'East Kameng', 'Upper Siang', 'Darbhanga', 'Dehradun', 'Nayagarh', 'Patiala', 'Pakur', 'Tikamgarh', 'Barnala', 'Bikaner', 'Cooch Behar', 'Sipahijala', 'Anantnag', 'West Khasi Hills', 'Morbi', 'Uttarkashi', 'Hnahthial', 'Tumakuru', 'Tehri Garhwal', 'Kargil', 'Mandi', 'Bokaro', 'Prakasam', 'Kottayam', 'Dholpur', 'Hardoi', 'North and Middle Andaman', 'Udalguri', 'Shahdol', 'Tinsukia', 'Dhamtari', 'Ajmer', 'Mandla', 'Bhojpur', 'Niwari', 'Gondia', 'Mau', 'Lakshadweep', 'Buldhana', 'East Khasi Hills', 'Samba', 'East Siang', 'Rudraprayag', 'Birbhum', 'Jorhat', 'Auraiya', 'Raigarh', 'Kondagaon', 'Uttar Bastar Kanker', 'Chhindwara', 'Raipur', 'Balangir', 'Wayanad', 'Rajsamand', 'West Siang', 'Narsinghpur', 'Alirajpur', 'Warangal Urban', 'Golaghat', 'Nagapattinam', 'Thoubal', 'Dewas', 'Palghar', 'Nagaur', 'Madhubani', 'Hanumangarh', 'Ghazipur', 'Budgam', 'Purnia', 'Chandauli', 'Kannur', 'Other Region', 'Nalanda', 'Kaushambi', 'Jalaun', 'West Singhbhum', 'Bageshwar', 'Kasganj', 'Kokrajhar', 'Ukhrul', 'Balod', 'Nagarkurnool', 'West Jaintia Hills', 'Dakshin Bastar Dantewada', 'Jammu', 'Ranga Reddy', 'Alipurduar', 'Shahid Bhagat Singh Nagar', 'Shi Yomi', 'Betul', 'Kaimur', 'Pali', 'Bhadradri Kothagudem', 'Muzaffarpur', 'Paschim Bardhaman', 'Kolasib', 'Panipat', 'Cachar', 'Gir Somnath', 'Lower Subansiri', 'Sonitpur', 'Rohtas', 'Panchmahal', 'Dimapur', 'Udhampur', 'Unknown', 'Baramulla', 'Nanded', 'East Jaintia Hills', 'Ranchi', 'Koriya', 'Baksa', 'Khowai', 'Ahmedabad', 'Baran', 'Beed', 'Guntur', 'Koraput', 'Tirunelveli', 'Howrah', 'Kurnool', 'Nilgiris', 'South Salmara Mankachar', 'Shivamogga', 'Kathua', 'South East Delhi', 'Fatehgarh Sahib', 'Sangrur', 'Dakshin Dinajpur', 'Karnal', 'Komaram Bheem', 'Banda', 'Chitrakoot', 'Jagatsinghpur', 'Indore', 'Puducherry', 'Ramanathapuram', 'Thiruvananthapuram', 'East Delhi', 'Ganganagar', 'Amroha', 'East Godavari', 'Bengaluru Rural', 'Reasi', 'Akola', 'Jiribam', 'Hailakandi', 'Punch', 'Mahabubabad', 'Chamba', 'Nalgonda', 'Sawai Madhopur', 'Bargarh', 'Satara', 'Lakhimpur Kheri', 'Kalaburagi', 'Subarnapur', 'Jalpaiguri', 'Kakching', 'Sundargarh', 'Chirang', 'Nagpur', 'Upper Dibang Valley', 'Koppal', 'Jayashankar Bhupalapally', 'Pune', 'Damoh', 'Rewari', 'Koderma', 'Kulgam', 'Perambalur', 'Prayagraj', 'Ahmednagar', 'Thiruvallur', 'Malkangiri', 'Jharsuguda', 'Kupwara', 'Tengnoupal', 'Yavatmal', 'Hojai', 'Ludhiana', 'Chandel', 'Theni', 'Navsari', 'Faridabad', 'Kannauj', 'Kolar', 'Champhai', 'Bharuch', 'Sheopur', 'Kota', 'West Karbi Anglong', 'Darjeeling', 'Shimla', 'Serchhip', 'Udupi', 'Latehar', 'Hazaribagh', 'East Garo Hills', 'Kendujhar', 'Fazilka', 'Mahabubnagar', 'Gonda', 'Surat', 'Katni', 'Bulandshahr', 'Narayanpet', 'Muzaffarnagar', 'Lower Dibang Valley', 'Belagavi', 'Satna', 'Vizianagaram', 'Medak', 'Vadodara', 'Dharwad', 'Doda', 'Agar Malwa', 'Mungeli', 'West Kameng', 'Janjgir Champa', 'Longding', 'Raisen', 'Kallakurichi', 'Hyderabad', 'Bhopal', 'S.P.S. Nellore', 'Jind', 'Gopalganj', 'Bastar', 'West Delhi', 'Mahisagar', 'Dadra and Nagar Haveli', 'Sidhi', 'Jhargram', 'Gandhinagar', 'Davanagere', 'Jaipur', 'Thoothukkudi', 'Simdega', 'Kollam', 'Palakkad', 'Gwalior', 'Sambhal', 'Namsai', 'Vidisha', 'Sindhudurg', 'Sitapur', 'Karur', 'Kancheepuram', 'Udaipur', 'Kanpur Dehat', 'Ferozepur', 'Dibrugarh', 'Siddharthnagar', 'Jagtial', 'Saharsa', 'Anjaw', 'Fatehpur', 'Siwan', 'Mon', 'Lepa Rada', 'Moga', 'South Delhi', 'Korba', 'Mumbai Suburban', 'Ariyalur', 'Dhalai', 'Bundi', 'Aurangabad', 'Pithoragarh', 'Dumka', 'Chamoli', 'Ramgarh', 'Nuh', 'Ganjam', 'Sivaganga', 'Medchal Malkajgiri', 'Imphal East', 'Nicobars', 'Kishtwar', 'Dhanbad', 'Aligarh', 'Wardha', 'Muzaffarabad', 'Arwal', 'Unnao', 'Karimganj', 'Uttara Kannada', 'Daman', 'South Sikkim', 'Karbi Anglong', 'Gomati', 'Kapurthala', 'Seoni']
744

In [208]:
# Getting the state name from IndianStatesDistricts
IndianStatesDistricts.head()

         Date                        State  ... Other  Tested
0  2020-04-26  Andaman and Nicobar Islands  ...     0  2679.0
1  2020-04-26               Andhra Pradesh  ...     0     NaN
2  2020-04-26               Andhra Pradesh  ...     0     NaN
3  2020-04-26               Andhra Pradesh  ...     0     NaN
4  2020-04-26               Andhra Pradesh  ...     0     NaN

[5 rows x 8 columns]

In [230]:
# Dropping the rows that have unknown district names
finalDFV4 = finalDFV3[~finalDFV3.Districts.str.contains("Unknown")]

In [232]:
StateDisDF = IndianStatesDistricts.filter(['State', 'District'], axis=1)
StateDisDFV1 = StateDisDF.rename(columns={'State':'States','District':'Districts'})

In [240]:
# finding states for respective districts in Unique
StateDisDFV1Dict = StateDisDFV1.set_index('States')['Districts'].to_dict()

MatchStateDis = {}

for districts in unique:
  for states, districtsv1 in StateDisDFV1Dict.items():
    if districtsv1 in districts:
      # print(districts, states)
      if states not in MatchStateDis:
        MatchStateDis[states]=districts

In [253]:
district_to_stateDF = pd.DataFrame.from_dict(MatchStateDis, orient='index')
district_to_stateDFV1 = district_to_stateDF.reset_index()
district_to_stateDFV2 = district_to_stateDFV1.rename(columns={'index': 'States', 0:'Districts'})
finalDFV4.merge(district_to_stateDFV2, on = "Districts", how = "left").head(70)

finalMerge =  finalDFV4.merge(district_to_stateDFV2, on = "Districts", how = "left")
finalMerge.to_csv('COVID.csv')