<a href="https://colab.research.google.com/github/kartikay89/Data-Analysis/blob/main/Netflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Netflix Titles data - Kaggle (URL: https://www.kaggle.com/shivamb/netflix-shows)

"""
What will we find out?

1. Trend of Genres(listed_in) in particular year?
2. Directors related to these genres?
3. Type of the title? Whether it is a movie or a TV show?

"""

'\nWhat will we find out?\n\n1. Trend of Genres(listed_in) in particular year?\n2. Directors related to these genres?\n3. Type of the title? Whether it is a movie or a TV show?\n\n'

In [2]:
import pandas as pd

In [3]:
netflixData = pd.read_csv("/content/drive/MyDrive/Google Colab Data /netflix_titles.csv")
netflixData

       show_id  ...                                        description
0     81145628  ...  Before planning an awesome wedding for his gra...
1     80117401  ...  Jandino Asporaat riffs on the challenges of ra...
2     70234439  ...  With the help of three human allies, the Autob...
3     80058654  ...  When a prison ship crash unleashes hundreds of...
4     80125979  ...  When nerdy high schooler Dani finally attracts...
...        ...  ...                                                ...
6229  80000063  ...  This parody of first-person shooter games, mil...
6230  70286564  ...  Marc Maron stars as Marc Maron, who interviews...
6231  80116008  ...  Nursery rhymes and original music for children...
6232  70281022  ...  Set during the Russian Revolution, this comic ...
6233  70153404  ...  This hit sitcom follows the merry misadventure...

[6234 rows x 12 columns]

In [ ]:
year_of_release = list(set(netflixData["release_year"]))
type(year_of_release)
year_of_release

In [5]:
# Trend of Genres in particular year.
# year to movie names dictionary.

year_to_movie_dict = {}

for years in year_of_release:
  titles = netflixData.loc[netflixData['release_year'] == years, 'title']

  if years not in year_to_movie_dict:
    year_to_movie_dict[years] = titles

In [6]:
year_to_movie_dict

year_to_movie_df = {}
for key, value in year_to_movie_dict.items():
  year_to_movie_df["Movie"] = year_to_movie_dict

In [7]:
netflixDFOne = pd.DataFrame(year_to_movie_df)
netflixDFOne

                                                  Movie
1925  4292    Pioneers: First Women Filmmakers*
Name...
1942  2011          Prelude to War
2013    The Battl...
1943  2022    Undercover: How to Operate Behind Enem...
1944  2017    The Memphis Belle: A Story of a\nFlyin...
1945  2005     Know Your Enemy - Japan
2009    Nazi ...
...                                                 ...
2016  1                           Jandino: Whatever ...
2017  4                                            #...
2018  27                                   City of J...
2019  0       Norm of the North: King Sized Adventur...
2020  1315                                   Maradon...

[72 rows x 1 columns]

In [8]:
number_of_rows = len(netflixDFOne.index)
number_of_rows

72

In [9]:
netflixDFTwo = pd.DataFrame([netflixDFOne.index, netflixDFOne.Movie]).transpose()
netflixDFTwo.rename(columns={0:'Years', 1:'Movies'}, inplace=True)
netflixDFTwo

   Years                                             Movies
0   1925  4292    Pioneers: First Women Filmmakers*
Name...
1   1942  2011          Prelude to War
2013    The Battl...
2   1943  2022    Undercover: How to Operate Behind Enem...
3   1944  2017    The Memphis Belle: A Story of a\nFlyin...
4   1945  2005     Know Your Enemy - Japan
2009    Nazi ...
..   ...                                                ...
67  2016  1                           Jandino: Whatever ...
68  2017  4                                            #...
69  2018  27                                   City of J...
70  2019  0       Norm of the North: King Sized Adventur...
71  2020  1315                                   Maradon...

[72 rows x 2 columns]

In [10]:
list(netflixDFTwo.loc[ netflixDFTwo['Years'] == 2020, 'Movies'  ])

[1315                                   Maradona in Mexico
 3180                                        Bulletproof 2
 3189                                                Cheer
 3195                                Live Twice, Love Once
 3220                                              Dracula
 3221                                  Go! Go! Cory Carson
 3249                        All the Freckles in the World
 3325                                       Sex, Explained
 3352                                    A Fall from Grace
 3353                                                 Ares
 3354                                   Nailed It! Germany
 3363                                    Handsome Siblings
 3379           Killer Inside: The Mind of Aaron Hernandez
 3426                     Kipo and the Age of Wonderbeasts
 3427                           Leslie Jones: Time Machine
 3436                           The Healing Powers of Dude
 3464                                     AJ and the Queen
 3466                         Jamtara - Sabka Number Ayega
 3467                                       Medical Police
 3472                                           Until Dawn
 3518                                        Ghost Stories
 3541                                              Messiah
 3546    Nisman: The Prosecutor, the President, and the...
 3562                                         Spinning Out
 3573                                           The Circle
 Name: title, dtype: object]

In [11]:
# Adding the genres to the movies
movieTitles = list(netflixData['title'])

# dictionary contaning movie titles
title_dict = {}

for movies in movieTitles:
  mTitlesGenres = netflixData.loc[ netflixData['title']  == movies, 'listed_in']

  if movies not in title_dict:
    title_dict[movies] = mTitlesGenres

In [12]:
mTitlesGenres_df = {}

for key, value in title_dict.items():
  mTitlesGenres_df['Genres'] = title_dict

In [13]:
genresDF = pd.DataFrame(mTitlesGenres_df)
genresDF

                                                                Genres
#Roxy                5462    Comedies, Romantic Movies
Name: listed...
#Rucker50            4699    Documentaries, Sports Movies
Name: lis...
#Selfie              2693    Comedies, Dramas, International Movies...
#Selfie 69           2694    Comedies, Dramas, International Movies...
#realityhigh              4    Comedies
Name: listed_in, dtype: object
...                                                                ...
忍者ハットリくん             6086    Anime Series, Kids' TV
Name: listed_in...
海的儿子                 5281    International TV Shows, TV Dramas
Name...
마녀사냥                 3904    International TV Shows, Korean TV Show...
반드시 잡는다              3799    Dramas, International Movies, Thriller...
최강전사 미니특공대 : 영웅의 탄생  355    Children & Family Movies
Name: listed_i...

[6172 rows x 1 columns]

In [20]:
# number of movies in the dataset.
print("{}{}".format(range(0, len(genresDF.index)),  list(genresDF.index)[:50]))

range(0, 6172)['#Roxy', '#Rucker50', '#Selfie', '#Selfie 69', '#realityhigh', "'89", '(T)ERROR', '1 Chance 2 Dance', '1 Mile to You', '10 Days in Sun City', '10 jours en or', '10,000 B.C.', '100 Days Of Solitude', '100 Meters', '100 Things to do Before High School', "100 Years: One Woman's Fight for Justice", '100% Hotter', '1000 Rupee Note', '12 ROUND GUN', '12 Years Promise', '13 Cameras', '13 Reasons Why', '13 Reasons Why: Beyond the Reasons', '13 Sins', '13TH', '13TH: A Conversation with Oprah Winfrey & Ava DuVernay', '14 Blades', '14 Cameras', '14 Minutes from Earth', '15-Aug', '16 Blocks', '187', '1898: Our Last Men in the Philippines', '1920', '1922', '1983', '1994', '1st Summoning', '2 States', '2,215', '20 Feet From Stardom', '20 Minutes', '2015 Dream Concert', '2036 Origin Unknown', '20th Century Women', '21', '21 & Over', '21 Sarfarosh: Saragarhi 1897', '21 Thunder', '22-Jul']

In [39]:
# Looking at the genres of these movie titles

for years in year_of_release:
  movie_by_year = netflixDFTwo.loc[ netflixDFTwo['Years'] == years, 'Movies'  ]

print(len(movie_by_year))  
print(years, list(movie_by_year))

1
2020 [1315                                   Maradona in Mexico
3180                                        Bulletproof 2
3189                                                Cheer
3195                                Live Twice, Love Once
3220                                              Dracula
3221                                  Go! Go! Cory Carson
3249                        All the Freckles in the World
3325                                       Sex, Explained
3352                                    A Fall from Grace
3353                                                 Ares
3354                                   Nailed It! Germany
3363                                    Handsome Siblings
3379           Killer Inside: The Mind of Aaron Hernandez
3426                     Kipo and the Age of Wonderbeasts
3427                           Leslie Jones: Time Machine
3436                           The Healing Powers of Dude
3464                                     AJ and the Queen
3466                         Jamtara - Sabka Number Ayega
3467                                       Medical Police
3472                                           Until Dawn
3518                                        Ghost Stories
3541                                              Messiah
3546    Nisman: The Prosecutor, the President, and the...
3562                                         Spinning Out
3573                                           The Circle
Name: title, dtype: object]

In [37]:
# searching movie's genres.
moviesYear = list(movie_by_year)

for movies in moviesYear:
  netflixData.loc[ netflixData['title'] == movies, 'listed_in' ]

ValueError: ignored