<a href="https://colab.research.google.com/github/kartikay89/Data-Analysis/blob/main/Netflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Netflix

In [23]:
# Netflix Titles data - Kaggle (URL: https://www.kaggle.com/shivamb/netflix-shows)

"""
What will we find out?

1. Trend of Genres(listed_in) in particular year?
2. Directors related to these genres?
3. Type of the title? Whether it is a movie or a TV show?

"""

'\nWhat will we find out?\n\n1. Trend of Genres(listed_in) in particular year?\n2. Directors related to these genres?\n3. Type of the title? Whether it is a movie or a TV show?\n\n'

**Import Libraries**

In [84]:
import pandas as pd
import re

**Original dataset**

In [25]:
netflixData = pd.read_csv("/content/drive/MyDrive/Google Colab Data /netflix_titles.csv")
netflixData

       show_id  ...                                        description
0     81145628  ...  Before planning an awesome wedding for his gra...
1     80117401  ...  Jandino Asporaat riffs on the challenges of ra...
2     70234439  ...  With the help of three human allies, the Autob...
3     80058654  ...  When a prison ship crash unleashes hundreds of...
4     80125979  ...  When nerdy high schooler Dani finally attracts...
...        ...  ...                                                ...
6229  80000063  ...  This parody of first-person shooter games, mil...
6230  70286564  ...  Marc Maron stars as Marc Maron, who interviews...
6231  80116008  ...  Nursery rhymes and original music for children...
6232  70281022  ...  Set during the Russian Revolution, this comic ...
6233  70153404  ...  This hit sitcom follows the merry misadventure...

[6234 rows x 12 columns]

**All Listed years**

In [26]:
year_of_release = list(set(netflixData["release_year"]))
# type(year_of_release)
# year_of_release

**Genre Trend according to year**

In [27]:
# Trend of Genres in particular year.
# year to movie names dictionary.

year_to_movie_dict = {}

for years in year_of_release:
  titles = netflixData.loc[netflixData['release_year'] == years, 'title']

  if years not in year_to_movie_dict:
    year_to_movie_dict[years] = titles

In [28]:
year_to_movie_dict

year_to_movie_df = {}
for key, value in year_to_movie_dict.items():
  year_to_movie_df["Movie"] = year_to_movie_dict

**Movies and TV shows that released in a particular year**

In [29]:
netflixDFOne = pd.DataFrame(year_to_movie_df)
# netflixDFOne

In [30]:
number_of_rows = len(netflixDFOne.index)
# number_of_rows

In [31]:
netflixDFTwo = pd.DataFrame([netflixDFOne.index, netflixDFOne.Movie]).transpose()
netflixDFTwo.rename(columns={0:'Years', 1:'Movies'}, inplace=True)
# netflixDFTwo

**Movies from 2020**

In [39]:
print(list(netflixDFTwo.loc[ netflixDFTwo['Years'] == 2019, 'Movies'  ]))

[0       Norm of the North: King Sized Adventure
34                   Archibald's Next Big Thing
35                                   Article 15
38                          Kill Me If You Dare
39                                      The Spy
                         ...
6198                              The Protector
6204                                     Cuckoo
6206                                  Samantha!
6215                        Crazy Ex-Girlfriend
6219                         Pok√©mon the Series
Name: title, Length: 843, dtype: object]

**Table provides all movies along with their Genres**

In [33]:
# Adding the genres to the movies
movieTitles = list(netflixData['title'])

# dictionary contaning movie titles
title_dict = {}

for movies in movieTitles:
  mTitlesGenres = netflixData.loc[ netflixData['title']  == movies, 'listed_in']

  if movies not in title_dict:
    title_dict[movies] = mTitlesGenres

In [34]:
mTitlesGenres_df = {}

for key, value in title_dict.items():
  mTitlesGenres_df['Genres'] = title_dict

In [35]:
genresDF = pd.DataFrame(mTitlesGenres_df)
# genresDF

**DATAFRAME - DICTIONARY: Movies: Genres**

In [36]:
MovieTitles = pd.Series(netflixData.title)
MovieGenres = pd.Series(netflixData.listed_in)

DFOneNetflix = pd.DataFrame(MovieTitles)
DFOneNetflix['Genres'] = pd.DataFrame(MovieGenres)
DFTwoNetflix = DFOneNetflix
# print(DFTwoNetflix)

# converts DataFrame to Dict w/o index - all records
dFtoDict = DFTwoNetflix.set_index('title')['Genres'].to_dict()
# print(dFtoDict)
# print(type(dFtoDict))

**Cross checking the movies by year with their genres**

In [95]:
to_match_list = list(netflixDFTwo.loc[ netflixDFTwo['Years'] == 2018, 'Movies'  ])
matchList = to_match_list[:]
# matchList = [movieNames.str.lower() for movieNames in to_match_list[:]]
# print(matchList)
print(len(dFtoDict))

# movieList = []

# function to make raw strings to match movie names.
# def toRE(testList):
# 	for i in testList:
# 		movieList.append("r'\b" + i + "\b'")

# toRE(dFtoDict.keys())
# print(movieList)

6172

**Matching the movie names by year and finding their Genres.**

In [96]:
for index, movieNames in enumerate(matchList):
  movieGenDict = { keys:values for keys, values in dFtoDict.items()  if keys in str(movieNames)}
  # print(movieGenDict)
movieGenDict

{'21': 'Dramas',
 '9': 'Action & Adventure, Independent Movies, Sci-Fi & Fantasy',
 'Anthony Bourdain: Parts Unknown': 'Docuseries',
 'Ash vs. Evil Dead': 'TV Action & Adventure, TV Comedies, TV Horror',
 'BAKI': 'Anime Series, International TV Shows',
 'City of Joy': 'Documentaries',
 'First and Last': 'Docuseries',
 'Joy': 'Dramas, Independent Movies, International Movies',
 'K': 'Anime Series, Crime TV Shows, International TV Shows',
 'Last': 'Crime TV Shows, International TV Shows, Korean TV Shows',
 'Next': 'Action & Adventure, Sci-Fi & Fantasy',
 'Next Gen': 'Children & Family Movies, Comedies, Sci-Fi & Fantasy',
 'P': 'Horror Movies, International Movies',
 'Se√±ora Acero': 'Crime TV Shows, International TV Shows, Spanish-Language TV Shows',
 'Sierra Burgess Is A Loser': 'Comedies, Romantic Movies',
 'The Magic School Bus': "Kids' TV",
 'The Magic School Bus Rides Again': "Kids' TV",
 'The Most Assassinated Woman in the World': 'Dramas, International Movies, Thrillers'}